# tileserver.php integration with Apache via .htaccess

#check htaccess functionality
DirectoryIndex tileserver.php

RewriteEngine on

# Option: some hostings require RewriteBase e.g. 1&1.com
#RewriteBase /
#RewriteBase /directory/

# Option: some hostings require -MultiViews e.g. 1&1.com
#Options -MultiViews
 
# Option: Restrictions for data crawlers
#Options -Indexes

# Option: CORS header for cross-domain origin access to all data
#<ifModule mod_headers.c>
#  Header set Access-Control-Allow-Origin *
#</ifModule>

# Block direct downloading of .mbtiles
<FilesMatch "\.mbtiles$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

# rewrite .jpeg -> .jpg
RewriteRule ^(.+).jpeg$ $1.jpg [L]

# Not modified HTTP 302
RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(tileserver\.php)
RewriteRule ^(.*)$ tileserver.php?/$1 [L,QSA]
